/* product-carousel.css */
.custom-swiper-pagination .swiper-pagination-bullet {
  width: 20px;
  height: 4px;
  border-radius: 2px;
  background: #ccc;
  opacity: 0.5;
  margin: 0 4px;
  transition: background 0.3s ease;
}

.custom-swiper-pagination .swiper-pagination-bullet-active {
  background: #000;
  opacity: 1;
}